/* Hero Container */
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  /* Add padding for space on both ends */
  position: relative;
  background-color: #ffffff;
  margin: 0 50px;
  min-height: 70vh;
}

.scroll-to-top {
  position: fixed;
  bottom: 40px;
  right: 35px; 
  width: 50px;
  height: 50px; 
  background-color: #ff6600; 
  color: white; 
  font-size: 24px;
  border: none;
  border-radius: 50%; 
  cursor: pointer; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  display: flex; 
  align-items: center;
  justify-content: center; 
  transition: transform 0.3s ease, opacity 0.3s ease; 
  z-index: 1000; 
}

.scroll-to-top:hover {
  background-color: #e55500;
}

.scroll-to-top:active {
  background-color: #cc4b00; 
}


/* Hero Text Section */
.hero-text {
  flex: 1;
  padding-right: 50px;
}

.hero-text h1 {
  font-size: 3.5rem;
  /* Increase font size for visibility */
  margin: 0;
  line-height: 1.2;
}

.hero-text h2 {
  font-size: 3.5rem;
  /* Adjusted font size for second line */
  margin-top: 0;
  margin-bottom: 20px;
  color: orange;
  /* Highlight color */
}

.hero-text p {
  font-size: 1.5rem;
  margin: 20px 0;
}

.hero-text .highlight {
  color: orange;
  animation: fadeInOut 2s infinite;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Button */
.hero-button {
  padding: 15px 30px;
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.hero-button:hover {
  background-color: darkorange;
}

/* Hero Image Section */
.hero-image-container {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fluidBorder {
  0% {
    border-radius: 40% 20% 70% 40% / 40% 40% 70% 70%;
  }
  50% {
    border-radius: 70% 40% 40% 70% / 70% 70% 40% 40%;
  }
  100% {
    border-radius: 40% 90% 90% 40% / 40% 40% 90% 90%;
  }
}

.hero-image {
  width: 100%;
  height: auto;
  animation: fluidBorder 10s infinite alternate ease-in-out;
}

/* Overlay Content on the Image */
.hero-overlay {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px;
  text-align: center;
  z-index: 2;
  /* Ensure content is above the image */
}

.collaboration-item {
  background-color: rgba(255, 255, 255, 0.9);
  /* Semi-transparent background */
  padding: 10px;
  border-radius: 10px;
  width: auto;
  /* Adjust width */
  display: inline-flex;
  /* Align items in a single line */
  align-items: center;
  border: 1px solid orange;
  /* Slim border */
}

.collaboration-item h3 {
  font-size: 16px;
  margin-right: 10px;
  /* Margin between heading and text */
  color: orange;
}

.collaboration-item p {
  font-size: 14px;
}

/* Specific positioning for each item */
.automation {
  position: absolute;
  top: -15%;
  right: 10%;
}

.collaboration {
  position: absolute;
  bottom: 15%;
  left: 5%;
}

.engagement {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.services-section {
  text-align: center;
  margin-top: 2rem;
  background-color: #f0f0f0;
  /* light grey background */
  padding: 2rem;
  padding-bottom: 7rem;
}

.services-title {
  font-size: 3rem;
  /* Increase font size */
}

.services-gray {
  color: var(--Gray-700, #344054);
  font-family: "General Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  /* Gray / 700 */
}

.services-orange {
  color: #F58A07;
  font-family: "General Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.services-subtitle {
  font-size: 1.25rem;
  color: #6c757d;
  /* Secondary text color */
}

/* Styles for service cards */
.services-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.service-card {
  background-color: #fff;
  padding: 3rem;
  /* Increase padding */
  border-radius: 8px;
  text-align: left;
  width: 320px;
  /* Increase width */
  transition: border-color 0.3s ease, transform 0.3s ease;
  /* Add transition */
  border: 1px solid transparent;
  /* Default border */
}

.service-card:hover {
  border-color: #ff6600;
  /* Orange border on hover */
}

.service-card img {
  width: 70px;
  /* Smaller width for images */
  border-radius: 4px;
  margin-bottom: 1rem;
}

.service-card h3 {
  color: var(--Black-100, #212121);
  font-family: "General Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.service-card p {
  color: #6c757d;
  /* Secondary text color */
}

.service-card a {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #ff6600;
  /* Orange */
  transition: transform 0.3s ease;
  /* Add transition */
  text-decoration: none;
}

.service-card:hover a {
  transform: translateX(5px);
  /* Shift arrow forward on card hover */
}

/* Styles for our work section */
.our-work-section {
  text-align: center;
  margin-top: 4rem;
  padding-bottom: 3rem;
  /* Add top padding */
}

.our-work-title {
  font-size: 3rem;
  /* Increase font size */
}

.our-work-blue {
  color: var(--Gray-700, #344054);
  font-family: "General Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  /* Dark blue color */
}

.our-work-orange {
  color: #F58A07;
  font-family: "General Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.our-work-subtitle {
  font-size: 1.25rem;
  color: #6c757d;
  /* Secondary text color */
}

/* Styles for our work cards */
.our-work-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.our-work-card {
  background-color: #fff;
  border-radius: 8px;
  text-align: left;
  width: 380px;
  /* Increase width */
  transition: border-color 0.3s ease, transform 0.3s ease;
  /* Add transition */
  border: 1px solid transparent;
  /* Default border */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margin */
}

.our-work-card img {
  width: 100%;
  /* Full width for images */
  border-radius: 8px 8px 0 0;
  /* Adjust border-radius for top corners */
  margin-bottom: 0;
  /* Remove margin */
  transition: transform 0.3s ease;
  /* Add transition for hover effect */
}

.our-work-card:hover img {
  transform: scale(1.05);
  /* Zoom out effect on hover */
}

.our-work-card h3 {
  color: var(--TechItEasy-Black, #0F0F0F);
  font-family: "General Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  /* 144.444% */
}

.our-work-card p {
  color: var(--TechItEasy-Black, #0F0F0F);
  font-family: "General Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.our-work-card a {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #ff6600;
  /* Orange */
  transition: transform 0.3s ease;
  /* Add transition */
  /* padding: 0 1rem 1rem; */
  /* Add padding */
  text-decoration: none;
}

.our-work-card:hover a {
  transform: translateX(5px);
  /* Shift arrow forward on card hover */
}

/* Adjust testimonial section styles */
.happy-clients-section {
  text-align: center;
  padding-top: 2rem;
  /* Add top padding */
  margin-top: 2rem;
  background-color: #f0f0f0;
  padding-bottom: 7rem;
}

.happy-clients-title {
  font-size: 3rem;
  /* Increase font size */
  margin-bottom: 0.5rem;
  /* Add some space below the title */
}

.happy-clients-gray {
  color: var(--Gray-700, #344054);
  font-family: "General Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  /* Gray / 700 */
}

.happy-clients-orange {
  color: #F58A07;
  font-family: "General Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.happy-clients-subtitle {
  font-size: 1.25rem;
  color: #6c757d;
  /* Secondary text color */
  margin-bottom: 2rem;
  /* Add some space below the subtitle */
}

.testimonial-section {
  margin-top: 2rem;
}

.testimonial-cards {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.testimonial-card {
  background-color: #fff;
  border-radius: 8px;
  text-align: left;
  width: 320px;
  transition: border-color 0.3s ease, transform 0.3s ease;
  border: 1px solid transparent;
  padding: 1rem;
  /* Add padding inside card */
  margin: 0;
  /* Remove card margin */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Add shadow */
}


.testimonial-quote-icon {
  font-size: 3rem;
  /* Increase quote icon size */
  color: #ff6600;
}

.testimonial-quote {
  font-size: 1.25rem;
  color: #344054;
  /* Dark grey color */
  margin: 1rem 0;
}

.testimonial-card-info {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.testimonial-image {
  border-radius: 50%;
  width: 60px;
  /* Increase image size */
  height: 60px;
  margin-right: 1rem;
  /* Add space between image and text */
}

.testimonial-author {
  font-weight: 600;
  color: #212121;
}

.testimonial-title {
  color: #6c757d;
}

/* Styles for the collaboration section */

/* For Tablets and Smaller Screens (max-width: 768px) */
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column; /* Stack content vertically */
    padding: 20px; /* Reduce padding */
    margin: 0; /* Remove margin */
    min-height: auto; /* Allow content to adjust height */
  }

  .hero-text {
    padding-right: 0;
    text-align: center; /* Center-align the text */
  }

  .hero-text h1 {
    font-size: 2.5rem; /* Smaller font size */
  }

  .hero-text h2 {
    font-size: 2rem; /* Adjusted font size */
  }

  .hero-text p {
    font-size: 1.2rem; /* Smaller paragraph text */
  }

  .scroll-to-top {
    bottom: 20px; /* Adjust position for smaller screens */
    right: 20px;
    width: 45px;
    height: 45px;
    font-size: 20px;
  }

  .hero-image-container {
    width: 100%; /* Ensure the image container takes full width */
  }

  .hero-image {
    width: 100%;
    height: auto; /* Adjust image size */
  }

  .hero-button {
    font-size: 16px; /* Smaller button text */
  }

  .collaboration-item {
    font-size: 14px; /* Adjust text size */
    padding: 8px; /* Smaller padding */
  }

  .automation {
    top: -10%; /* Adjust positioning */
    right: 5%;
  }

  .collaboration {
    bottom: 10%;
    left: 2%;
  }

  .engagement {
    bottom: 5%;
    right: 5%;
  }
}

/* For Mobile Devices (max-width: 480px) */
@media (max-width: 480px) {
  .hero-container {
    padding: 15px; /* Reduce padding */
  }

  .hero-text h1 {
    font-size: 2rem; /* Smaller font size */
  }

  .hero-text h2 {
    font-size: 1.8rem; /* Adjusted font size */
  }

  .hero-text p {
    font-size: 1rem; /* Smaller paragraph text */
  }

  .scroll-to-top {
    bottom: 10px; /* Adjust position for mobile */
    right: 10px;
    width: 40px;
    height: 40px;
    font-size: 18px;
  }

  .hero-image-container {
    width: 100%;
  }

  .hero-image {
    width: 100%;
    height: auto;
  }

  .hero-button {
    font-size: 14px; /* Adjust button text for mobile */
    padding: 10px 20px;
  }

  .collaboration-item {
    font-size: 12px; /* Further reduce text size */
    padding: 6px;
  }

  .automation, .collaboration, .engagement {
    font-size: 12px; /* Adjust position and font size */
    padding: 6px;
  }
}

/* For tablets and smaller screens (max-width: 768px) */
@media (max-width: 768px) {
  .services-title {
    font-size: 2.5rem; /* Slightly smaller font size */
  }

  .services-gray,
  .services-orange {
    font-size: 36px; /* Smaller font size */
  }

  .services-subtitle {
    font-size: 1rem; /* Smaller subtitle font size */
  }

  .services-cards {
    flex-direction: column; /* Stack cards vertically */
    gap: 1.5rem;
    align-items: center; /* Center align cards */
    padding: 0 2rem;
  }

  .service-card {
    width: 100%; /* Make cards full width on smaller screens */
    padding: 2rem; /* Adjust padding for smaller screens */
  }

  .service-card img {
    width: 60px; /* Slightly smaller image */
  }

  .service-card h3 {
    font-size: 20px; /* Smaller card title font size */
  }

  .service-card p {
    font-size: 0.9rem; /* Adjust paragraph font size */
  }
}

/* For mobile devices (max-width: 480px) */
@media (max-width: 480px) {
  .services-title {
    font-size: 2rem; /* Even smaller font size */
  }

  .services-gray, .services-orange {
    font-size: 30px; /* Further reduce font size */
  }

  .services-subtitle {
    font-size: 0.9rem; /* Further reduce subtitle font size */
  }

  .services-cards {
    gap: 1rem; /* Reduce the gap between cards */
    padding: 0 1rem;
  }

  .service-card {
    width: 100%; /* Ensure cards are full width */
    padding: 1.5rem; /* Adjust padding for mobile */
  }

  .service-card img {
    width: 50px; /* Smaller image for mobile */
  }

  .service-card h3 {
    font-size: 18px; /* Smaller card title font size */
  }

  .service-card p {
    font-size: 0.85rem; /* Adjust paragraph font size */
  }
}

/* Responsive Adjustments */
@media (max-width: 768px) {

  .testimonial-section{
    padding: 0;
  }

  .testimonial-cards {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5rem;
  }

  .testimonial-card {
    width: 270px; /* Reduce card width on tablets */
    padding: 0.75rem; /* Reduce padding for smaller screens */
  }

  .testimonial-quote-icon {
    font-size: 2.5rem; /* Smaller quote icon */
  }

  .testimonial-quote {
    font-size: 1.125rem; /* Slightly smaller quote text */
  }

  .testimonial-card-info {
    margin-top: 0.75rem; /* Adjust margin for smaller screens */
  }

  .testimonial-image {
    width: 50px; /* Reduce image size */
    height: 50px; /* Adjust image size */
  }

  .testimonial-author {
    font-size: 1rem; /* Slightly smaller author font */
  }

  .testimonial-title {
    font-size: 0.875rem; /* Slightly smaller title font */
  }
}

@media (max-width: 480px) {
  .testimonial-section{
    padding: 0;
  }

  .testimonial-cards {
    gap: 1rem;
  }

  .testimonial-card {
    width: 100%; /* Full width on mobile */
    padding: 1rem; /* Restore padding on mobile */
  }

  .testimonial-quote-icon {
    font-size: 2rem; /* Smaller quote icon for mobile */
  }

  .testimonial-quote {
    font-size: 1rem; /* Adjust quote font size */
  }

  .testimonial-card-info {
    margin-top: 0.5rem; /* Reduce margin for mobile screens */
  }

  .testimonial-image {
    width: 45px; /* Further reduce image size */
    height: 45px; /* Further reduce image size */
  }

  .testimonial-author {
    font-size: 0.9rem; /* Slightly smaller font for author */
  }

  .testimonial-title {
    font-size: 0.75rem; /* Reduce font size for mobile */
  }
}

/* Responsive Adjustments */
@media (max-width: 768px) {

  .scroll-to-top {
    bottom: 60px;
    right: 55px;
    width: 50px;
    height: 50px;
    font-size: 25px;
  }

  .happy-clients-section {
    padding: 3rem 20px; /* Adjust padding for smaller screens */
  }

  .happy-clients-title {
    font-size: 2.5rem; /* Smaller font size on tablets and small screens */
  }

  .happy-clients-gray, 
  .happy-clients-orange {
    font-size: 36px; /* Adjust font size */
  }

  .happy-clients-subtitle {
    font-size: 1rem; /* Smaller subtitle */
    margin-bottom: 1.5rem; /* Reduced margin for smaller screens */
  }
}

@media (max-width: 480px) {

  .scroll-to-top {
    bottom: 60px;
    right: 55px;
    width: 50px;
    height: 50px;
    font-size: 25px;
  }

  .happy-clients-section {
    padding: 2rem 15px; /* Further reduce padding for mobile */
  }

  .happy-clients-title {
    font-size: 2rem; /* Smaller title font size */
  }

  .happy-clients-gray,
  .happy-clients-orange {
    font-size: 28px; /* Further reduce font size */
  }

  .happy-clients-subtitle {
    font-size: 0.9rem; /* Smaller subtitle font size */
    margin-bottom: 1rem; /* Reduced margin */
  }
}